.job {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin: 3em 0;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 3em;
    padding-bottom: 1.5em;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    box-shadow: 1px 14px 40px -22px hsl(180, 29%, 50%);
}

.job:hover {
    border-left: 5px solid hsl(180, 29%, 50%);
}

.job__container--logo {
    position: absolute;
    top: -25px;
    left: 25px;
    z-index: 2;
}

.job__container--img {
    width: 65%;
}

.company__name {
    font-size: 1.1rem;
    font-weight: 700;
    color: hsl(180, 29%, 50%);
    cursor: pointer;
}

.newJob, .featuredJob {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0.5em 0.8em;
    border-radius: 100px;
    font-weight: 700;
}

.newJob {
    margin-right: 0.5em;
    margin-left: 1.1em;
    background-color: hsl(180, 29%, 50%);
}

.featuredJob {
    background-color: hsl(180, 14%, 20%);
}

.nullJob {
    display: none;
}

.job__container h3 {
    color: hsl(180, 14%, 20%);
    margin: 0.5em 0;
    font-size: 1.4rem;
    cursor: pointer;
}

.job__container h3:hover {
    color: hsl(180, 29%, 50%);
}

.postedAt, .contract, .location {
    color: hsl(180, 8%, 52%);
}

.bullet {
    margin: 0 0.8em;
    color: hsl(180, 8%, 52%);
}

.job__container hr {
    border: 1px solid hsl(180, 31%, 95%);
    margin: 1.5em 0;
}

.job__conatainer--tablets {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (min-width: 992px) {
    .job {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .job__container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .job__container--logo {
        width: 12%;
        position: initial;
        top: initial;
        left: initial;
        z-index: initial;
        text-align: center;
    }

    .job__container--desc {
        width: 30%;
    }

    .job__conatainer--tablets {
        width: 54%;
        justify-content: flex-end;
    }

    .job__container hr {
        display: none;
    }
}