*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

body {
  background-color: hsl(180, 52%, 96%);
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1104px;
  margin: 0 auto;
  padding: 0 2em;
}

button {
  border: none;
  outline: none;
  padding: 0.8em 1em;
}

.filter__keyword {
  margin-top: -40px;
  background-color: #ffffff;
  color: red;
  position: relative;
  z-index: 10;
  border-radius: 5px;
  padding: 0.7em 2.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  box-shadow: 1px 14px 40px -22px hsl(180, 29%, 50%);
}

.filter__keyword--item {
  width: 68%;
  display: flex;
  flex-wrap: wrap;
}

.filter__keyword--item div {
  display: flex;
  align-items: center;
  margin-right: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.filter__keyword .clear-btn {
  width: 20%;
}

.filter__keyword .clear {
  width: 100%;
  background-color: transparent;
  color: hsl(180, 29%, 50%);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  text-align: right;
}

.filter__keyword .clear:hover {
  text-decoration: underline;
}
